html {
    background: #333;
}

body {    
    margin: 0 auto;
    width: 800px;    
}

@font-face {
	font-family: 'Pixel';
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Pixel.ttf) format('truetype');
}